@{
    ViewBag.Title = "It'School";
}

<section class="row" id="sectionLogo">
    <div class="col-xs-offset-4 col-xs-4 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4" id="imageLogo">
        <img src="../Images/LOGO_360.png" class="img-responsive" alt="logo" />
    </div>
</section>

    <center><strong>Hello, here is the code = @ViewBag.ActivationCode</strong></center>

@section Scripts{
    <script src="~/Scripts/Routing.js"></script>
}
