/*body{
	background-color : #F0E8D8;
}*/

div#container {
	position: relative;
	margin-top : 1.5%;	
	height: 0; 
	width: 100%; 
	padding: 0;
	padding-bottom: 42%;
	border : 1px solid black;
	box-shadow: 0px 0px 65px #CDBE9F inset, 0px 0px 20px #BEAE8C inset, 0px 0px 5px #816F47;
}

#score {
	position: relative;
	margin-top : 1.7%;	
	background:#ccc;
	float : right;
	height : 100px;
	width: 100px;
	line-height:100px;
	text-align: center;
	font-size: 350%;
	box-shadow: 0px 0px 65px #CDBE9F inset, 0px 0px 20px #BEAE8C inset, 0px 0px 5px #816F47;
}


svg#gameZone {
	position: absolute; 
	height: 100%; 
	width: 100%; 
	left: 0; 
	top: 0;
}

#hand {
	text-align: center;
	background-color: #008800;
	position: absolute;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 5px;
	bottom: 1em;
	width: 650px;
	height: 250px;
}

#deal {
	text-align: center;
	background-color: #008800;
	border-radius: 5px;
	position: absolute;
	padding-top: 20px;
	padding-bottom: 20px;
	bottom: 1em;
	width: 190px;
	height: 250px;
	right: 1em;
}

.card {
	display: inline-block;
	border: 1px solid #000000;
	border-radius: 5px;
	width: 150px;
	height: 200px;
}

#hand .card + .card {
	margin-left: -50px;
}

#hand .card:first-child {
	transform: rotate(-5deg);
}
#hand .card:nth-child(2) {
	transform: rotate(-2deg);
}
#hand .card:nth-child(n+3) {
	transform: rotate(0);
}
#hand .card:nth-last-child(2) {
	transform: rotate(2deg);
}
#hand .card:last-child {
	transform: rotate(5deg);
}

#hand .card {
	float: left;
	margin-left: 30px;
}
#hand .card:hover {
	margin-top: -50px;
}
#hand .card.incoming {
	border-radius: 5px;
	border: 3px #FF8C00 dashed;
}

#clock {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top : 2%;
	width : 350px;
}

#messageClock{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width : 280px;
	font-family: Georgia,Times,serif;
	font-size: 1.5em;
}