<div ng-controller="KidDescriptionBattleCardController">
    <style>
        /*body, html {
            background-color: #F0E8D8;
        }*/

        h1, h2 {
            width: 100%;
            text-align: center;
            /*border : 1px solid black;*/
        }

        /*#global {
            padding-bottom: 5%;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height: 100%;
            border: 1px solid black;
            background: #F0E8D8 -moz-linear-gradient(center bottom, #DACDB1 11%, #F0E8D8 56%) repeat scroll 0% 0%;
        }*/

        /*#gameDescription {
            margin-top: 3%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
            border: 1px solid black;
            box-shadow: 0px 0px 65px #CDBE9F inset, 0px 0px 20px #BEAE8C inset, 0px 0px 5px #816F47;
            font-family: Georgia,Times,serif;
            line-height: 1.50em;
        }*/

        /*#leftArrow{
            position: absolute;
            border : 1px solid black;
            top: 45%;
            background-color: #CDBE9F;
        }*/

        /*#leftArrow {
            right: 90%;
        }*/

        #gameStart {
	    position : relative;
	    margin-top: 5%;
	    text-align : center;
	    margin-left: auto;
	    margin-right: auto;
	    width: 20%;
	    text-align : center;
	    border : 1px solid black;
	    box-shadow: 0px 0px 65px #CDBE9F inset, 0px 0px 20px #BEAE8C inset, 0px 0px 5px #816F47;
	    font-family: Georgia,Times,serif;
	    font-size: 1.6em;
	    line-height: 1.65em;
    }

    a:link    {
	    color:#000000;
	    background-color:transparent;
	    text-decoration:none;
    }
    a:visited {
	    color:#000000; 
	    background-color:transparent; 
	    text-decoration:none
    }
    a:hover   {
	    color:#ff0000; 
	    background-color:transparent; 
	    text-decoration:underline
    }
    a:active  {
	    color:#ff0000; 
	    background-color:transparent; 
	    text-decoration:underline
    }
    </style>

    <h1>Battle Card</h1>


    <div id="global">

        <md-button id="leftArrow" class="md-fab" aria-label="FAB" ng-click="GoBack()">
            <md-icon md-svg-src="../Images/material-design-icons/navigation/svg/production/ic_arrow_back_36px.svg"></md-icon>
        </md-button>

        <div id="gameDescription">
            <h2>Description</h2>
            <p>Chef NashKar : " Te voilà enfin jeune aventurier. Notre peuple à besoin de ton aide ! "</p>
            <p>Mission : Relève le défi du Battle Card afin d'aider le chef NashKaR</p>
            <p>
                Règle : Tu as à ta disposition 5 cartes.
                Parmi ton jeu de cartes, il te faut cliquer la ou les cartes similaires à la carte modèle se trouvant à droite.
             </p>
            <p>
                Temps : Tu as une minute pour réaliser le Battle Card !<br/>
            </p>
        </div>

        <!--<div id="gameStart">
            <a href="#!/kid/exercices/battleCard/play">PLAY THE GAME</a>
        </div>-->

        <center>
            <div ng-show="!EasySelected && !MediumSelected && !HardSelected">
                <h1>{{Message}}</h1>
                <table>
                    <tr>
                        <td>
                            <form novalidate name="EasyForm" ng-submit="Easy()">
                                <md-button class="md-raised md-primary" type="submit" name="easy" id="easy">Facile</md-button>
                            </form>
                        </td>
                        <td>
                            <form novalidate name="MediumForm" ng-submit="Medium()">
                                <md-button class="md-raised md-primary" type="submit" name="medium" id="medium">Moyen</md-button>
                            </form>
                        </td>
                        <td>
                            <form novalidate name="HardForm" ng-submit="Hard()">
                                <md-button class="md-raised md-primary" type="submit" name="hard" id="hard">Difficile</md-button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
            <div ng-show="EasySelected">
                <h1>{{Message}}</h1>
                <div id="gameStart">
                    <a href="#!/kid/exercices/battleCard/play">JOUER</a>
                </div>

            </div>
            <div ng-show="MediumSelected">
                <h1>{{Message}}</h1>
                <div id="gameStart">
                    <a href="#!/kid/exercices/battleCard/play">JOUER</a>
                </div>
            </div>
            <div ng-show="HardSelected">
                <h1>{{Message}}</h1>
                <div id="gameStart">
                    <a href="#!/kid/exercices/battleCard/play">JOUER</a>
                </div>
            </div>
        </center>

    </div>

</div>
