<div ng-controller="KidLobbyController">
    <section class="row">
        <div id="title">
            <h2>{{Message}}</h2>
        </div>
        <ul class="nav nav-pills  nav-justified">
            <li> <a href="#">Accueil </a></li>
            <li> <a href="#">Avatar </a></li>
            <li> <a href="#">Messages </a></li>
            <li> <a href="#!/home">Deconnexion </a></li>
        </ul>
    </section>
    <center>
        <table id="selection">
            <tr>
                <td><md-button class="md-raised md-primary" href="#!/kid/lobby/drag_drop" id="selectExercices">Glissé-Déposé</md-button></td>
                <td><md-button class="md-raised md-primary" href="#!/kid/lobby/battleCard" id="selectExercices">Card Game</md-button></td>
                <td><md-button class="md-raised md-primary" href="#!/kid/lobby/dictation" id="selectExercices">Dictée</md-button></td>
                <td><md-button class="md-raised md-primary" href="#!/kid/lobby/cloze_exercize" id="selectExercices">Texte à trous</md-button></td>
            </tr>
        </table>
    </center>
</div>
