<div ng-controller="KidLoginController">
    <div class="lock-size" layout="row" layout-align="left">
        <md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
                           ng-class="demo.selectedMode">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-warn">
                    <md-icon md-svg-src="../Images/material-design-icons/svg/menu.svg"></md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button aria-label="home" class="md-fab md-raised md-mini" href="#!/home">
                    <md-icon style="color:black" md-svg-src="../Images/material-design-icons/svg/home.svg"></md-icon>
                    <md-tooltip>
                        Accueil du site
                    </md-tooltip>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>
    <center class="positionCenter">
        <h3>{{Message}}</h3>
        <div ng-show="!IsTeacher">
            <form novalidate name="LoginForm" ng-submit="Login()">
                <div ng-show="!IsLogedIn">
                    <md-input-container style="width:10%">
                        <label>Pseudo</label>
                        <input type="text" ng-model="LoginForm.Username" name="cUsername" ng-class="Submitted?'ng-dirty':''" required autofocus>
                        <span class="error" ng-show="(LoginForm.cUsername.$dirty || submitted) && LoginForm.cUsername.$error.required">Username required</span>
                    </md-input-container>
                    <br />
                    <md-input-container style="width:10%">
                        <label>Mot de passe</label>
                        <input type="password" ng-model="LoginForm.Password" name="cPassword" ng-class="Submitted?'ng-dirty':''" required autofocus>
                        <span class="error" ng-show="(LoginForm.cPassword.$dirty || submitted) && LoginForm.cPassword.$error.required">Password required</span>
                    </md-input-container>
                    <br />
                    <md-button class="md-raised md-primary" value="Login" type="submit">{{ButtonMessage}}</md-button>
                </div>
            </form>
            <div ng-show="IsLogedIn">
                <md-button class="md-fab" aria-label="FAB" ng-click="GoBack()">
                    <md-icon md-svg-src="../Images/material-design-icons/navigation/svg/production/ic_arrow_back_36px.svg"></md-icon>
                </md-button>
                <md-button class="md-fab" aria-label="FAB" href="#!/kid/exercices">
                    <md-icon md-svg-src="../Images/material-design-icons/navigation/svg/production/ic_arrow_forward_36px.svg"></md-icon>
                </md-button>
            </div>
        </div>
        <div ng-show="IsTeacher">
            <md-button class="md-raised md-primary" href="#!/teacher/">Espace Professeur</md-button>
        </div>
    </center>
</div>

