<div ng-controller="KidLogInController">
    <center>
        <h3>{{Message}}</h3>

            <md-input-container style="width:15%">
                <label>Pseudo</label>
                <input type="text" name="pseudo" required>
            </md-input-container>

            <md-input-container style="width:15%">
                <label>Mot de passe</label>
                <input type="password" name="password">
            </md-input-container>
            <br />
            <md-button class="md-raised md-primary">Connexion</md-button>
        </center>
    </div>

