<div ng-controller="KidPlayBattleCardController">
    <div id="clock"></div>
    <div id="messageClock">{{Time}}</div>

    <div id="score">{{Score}}</div>
    <!--<div class="logo" ng-include="'/Images/redCard.svg'"></div>-->
    <!--<object id="card1" class="card" type="image/svg+xml" data={{svgCard}}>ðŸ‚ </object>-->
    <div id="container">

        <svg id="gameZone">
            <foreignobject x="10" y="10" width="100%" height="100%">
                <div id="hand">

                    <object id="card1" class="card" type="image/svg+xml" data={{svgCard}}>ðŸ‚ </object>
                    <object id="card2" class="card" type="image/svg+xml" data={{svgCard}}>ðŸ‚ </object>
                    <object id="card3" class="card" type="image/svg+xml" data={{svgCard}}>ðŸ‚ </object>
                    <object id="card4" class="card" type="image/svg+xml" data={{svgCard}}>ðŸ‚ </object>
                    <object id="card5" class="card" type="image/svg+xml" data={{svgCard}}>ðŸ‚ </object>
                </div>

                <div id="deal">
                    <object id="cardToFind" class="card" type="image/svg+xml" data={{svgCard}}>ðŸ‚ </object>
                </div>
            </foreignobject>
        </svg>

    </div>

    <script src="../Scripts/BattleCardJS/snap.svg.js"></script>
    <script src="../Scripts/BattleCardJS/flipclock.js"></script>
    <script src="../Scripts/BattleCardJS/battleCardGame.js"></script>

</div>

