<div ng-controller="KidPlayDictationController">
    <center>
        <div ng-show="!EasySelected && !MediumSelected && !HardSelected">
            <h1>{{Message}}</h1>
            <table>
                <tr>
                    <td>
                        <form novalidate name="EasyForm" ng-submit="Easy()">
                            <md-button class="md-raised md-primary" type="submit" name="easy" id="easy">Facile</md-button>
                        </form>
                    </td>
                    <td>
                        <form novalidate name="MediumForm" ng-submit="Medium()">
                            <md-button class="md-raised md-primary" type="submit" name="medium" id="medium">Moyen</md-button>
                        </form>
                    </td>
                    <td>
                        <form novalidate name="HardForm" ng-submit="Hard()">
                            <md-button class="md-raised md-primary" type="submit" name="hard" id="hard">Difficile</md-button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-show="EasySelected">
            <h1>{{Message}}</h1>
            <audio controls="controls" autobuffer="autobuffer" id="dictationAudio">
                <source src="" />
            </audio><br />
            <form name="DictText" ng-submit="SubmitText()">
                <textarea ng-model="ChildTextWritted" name="text" placeholder="Texte de la dictée..." rows="5" cols="40"></textarea><br />
                <md-button class="md-raised md-primary" type="submit" name="SaveEasyText">{{Button}}</md-button>
                <h2>{{ChildTextWritted}}</h2>
            </form>
        </div>
        <div ng-show="MediumSelected">
            <h1>{{Message}}</h1>
            <form name="DictText" ng-submit="SaveText">
                <audio controls="controls" autobuffer="autobuffer" id="dictationAudio2">
                    <source src="" />
                </audio><br />
                <textarea name="text" placeholder="Texte de la dictée..." rows="5" cols="40"></textarea><br />
                <md-button class="md-raised md-primary" type="submit" name="SaveEasyText">{{Button}}</md-button>
            </form>
        </div>
        <div ng-show="HardSelected">
            <h1>{{Message}}</h1>
            <form name="DictText" ng-submit="SaveText">
                <audio controls="controls" autobuffer="autobuffer" id="dictationAudio3">
                    <source src="" />
                </audio><br />
                <textarea name="text" placeholder="Texte de la dictée..." rows="5" cols="40"></textarea><br />
                <md-button class="md-raised md-primary" type="submit" name="SaveEasyText">{{Button}}</md-button>
            </form>
        </div>
    </center>
</div>