<div ng-controller="KidSelectExercicesController">
    <section class="row">
        <ul class="nav nav-pills  nav-justified">
            <li> <a href="#!/home">Accueil </a></li>
            <!--<li> <a href="#">Avatar </a></li>
            <li> <a href="#">Messages </a></li>-->
            <li> <a href="#!/kid/login">Deconnexion </a></li>
        </ul>
    </section>
    <center>
        <h1>{{Message}}</h1>
        <table>
            <tr>
                <td><md-button class="md-raised md-primary" href="#!/kid/exercices/drag_drop">Glissé-Déposé</md-button></td>
                <td><md-button class="md-raised md-primary" href="#!/kid/exercices/battleCard">Battle Card</md-button></td>
                <td><md-button class="md-raised md-primary" href="#!/kid/exercices/dictation">Dictée</md-button></td>
                <td><md-button class="md-raised md-primary" href="#!/kid/exercices/cloze_exercize">Texte à trous</md-button></td>
            </tr>
        </table>
    </center>
</div>
