<<div ng-controller="TeacherSelectMatterController">
    <center>
        <h1>{{Message}}</h1>
        <table>
            <tr>
                <td><md-button class="md-raised md-primary" href="#!/teacher/exercices/matter/drag_drop_maths">Maths</md-button></td>
                <td><md-button class="md-raised md-primary" href="#!/teacher/exercices/drag_drop_conjugaiton">Conjugaison</md-button></td>
                <td><md-button class="md-raised md-primary" href="#!/teacher/exercices/drag_drop_english">Anglais</md-button></td>
            </tr>
        </table>
    </center>
</div>
