<div ng-controller="TeacherCustomizeBattleCardController">
    <div id="global">

        <md-button id="leftArrow" class="md-fab" aria-label="FAB" href="#!/teacher/exercices/battleCard">
            <md-icon md-svg-src="../Images/material-design-icons/navigation/svg/production/ic_arrow_back_36px.svg"></md-icon>
        </md-button>
        <!--<md-button id="rightArrow" class="md-fab" aria-label="FAB" href="#!/teacher/exercices/battleCard/customize">
            <md-icon md-svg-src="../Images/material-design-icons/navigation/svg/production/ic_arrow_forward_36px.svg"></md-icon>
        </md-button>-->

        <center>
            <div ng-show="!EasySelected && !MediumSelected && !HardSelected">
                <h1 class="ng-binding">{{Message}}</h1>
            <table>
                <tr>
                    <td>
                        <form novalidate name="EasyForm" ng-submit="Easy()">
                            <md-button class="md-raised md-primary" type="submit" name="easy">Facile</md-button>
                        </form>
                    </td>
                    <td>
                        <form novalidate name="MediumForm" ng-submit="Medium()">
                            <md-button class="md-raised md-primary" type="submit" name="medium">Moyen</md-button>
                        </form>
                    </td>
                    <td>
                        <form novalidate name="HardForm" ng-submit="Hard()">
                            <md-button class="md-raised md-primary" type="submit" name="hard">Difficile</md-button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-show="EasySelected">
            <h1>{{Message}}</h1>
            <form name="FormChoice" ng-submit="SaveChoice()">
                <select id="choice" value="choice" ng-model="ExerciseBattleCardData.ChoiceData">
                    <!--<option selected disabled>Votre choix</option>-->
                    <option value="alphabet" id="alphabet">Alphabet</option>
                    <option disabled id="choiceTitle">Chiffres et nombres</option>
                    <option value="0-10">0-10</option>
                    <option value="0-100">0-100</option>
                    <option value="0-500">0-500</option>
                    <option value="0-999">0-999</option>
                </select>
                <md-button id="saveExercise" class="md-raised md-primary" type="submit" name="SaveEasyChoice">{{Button}}</md-button>
            </form>
        </div>
        <div ng-show="MediumSelected">
            <h1>{{Message}}</h1>
            <form name="FormChoice" ng-submit="SaveChoice()">
                <select id="choice" value="choice" ng-model="ExerciseBattleCardData.ChoiceData">
                    <option value="alphabet" id="alphabet">Alphabet</option>
                    <option disabled id="choiceTitle">Chiffres et nombres</option>
                    <option value="0-10">0-10</option>
                    <option value="0-100">0-100</option>
                    <option value="0-500">0-500</option>
                    <option value="0-999">0-999</option>
                </select>

                <div ng-repeat="child in Children">
                    <md-checkbox ng-checked="exists(child, selected)" ng-click="toggle(child, selected)">
                        {{child.FirstName}} <span ng-if="exists(child,selected)">selected</span>
                    </md-checkbox>
                </div>
                <md-button id="saveExercise" class="md-raised md-primary" type="submit" name="SaveMediumChoice">{{Button}}</md-button>
                </form>
        </div>
        <div ng-show="HardSelected">
            <h1>{{Message}}</h1>
            <form name="FormChoice" ng-submit="SaveChoice()">
                <select id="choice" value="choice" ng-model="ExerciseBattleCardData.ChoiceData">
                    <option value="alphabet" id="alphabet">Alphabet</option>
                    <option disabled id="choiceTitle">Chiffres et nombres</option>
                    <option value="0-10">0-10</option>
                    <option value="0-100">0-100</option>
                    <option value="0-500">0-500</option>
                    <option value="0-999">0-999</option>
                </select>

                <div ng-repeat="child in Children">
                    <md-checkbox ng-checked="exists(child, selected)" ng-click="toggle(child, selected)">
                        {{child.FirstName}} <span ng-if="exists(child,selected)">selected</span>
                    </md-checkbox>
                </div>
                <md-button id="saveExercise" class="md-raised md-primary" type="submit" name="SaveHardChoice">{{Button}}</md-button>
            </form>
        </div>
        </center>
    </div>
</div >
