<div ng-controller="TeacherDescriptionBattleCardController">
    <div id="global">

        <md-button id="leftArrow" class="md-fab" aria-label="FAB" ng-click="GoBack()">
            <md-icon md-svg-src="../Images/material-design-icons/navigation/svg/production/ic_arrow_back_36px.svg"></md-icon>
        </md-button>
        <md-button id="rightArrow" class="md-fab" aria-label="FAB" href="#!/teacher/exercices/battleCard/customize">
            <md-icon md-svg-src="../Images/material-design-icons/navigation/svg/production/ic_arrow_forward_36px.svg"></md-icon>
        </md-button>

            <div id="gameDescription">
                <h2 class="ng-binding" id="header">Description</h2>
                <p>
                   <span class="descriptionTitleBattleCard">Règle du jeu :</span> <br />
                   L'enfant possède une main de 5 cartes.
                   Parmi ces cartes, il doit cliquer sur la ou les cartes correspondant à la carte modèle située à droite. <br /> <br />
                   <span class="descriptionTitleBattleCard">Temps : </span> <br />
                   L'enfant a 1 minute pour réaliser l'exercise. <br /><br />
                   <span class="descriptionTitleBattleCard">Personnalisation : </span> <br />
                   Vous pouvez choisir entre 3 modes de difficultés.
                   Le mode facile sera affecté à toute la classe et vous aurez la possibilité de choisir les élèves pour les deux autres niveaux.<br /><br />
                   Ensuite vous avez le choix entre l'alphabet et les différentes catégories de nombres proposées.
                </p>
            </div>

     </div>
 
</div>
