<div ng-controller="TeacherSelectExercicesController">
    <center>
        <h1>{{Message}}</h1>
        <table>
            <tr>
                <td><md-button class="md-raised md-primary" href="#!/teacher/exercices/drag_drop">Glissé-Déposé</md-button></td>
                <td><md-button class="md-raised md-primary" href="#!/teacher/exercices/memory">Jeu de mémoire</md-button></td>
                <td><md-button class="md-raised md-primary" href="#!/teacher/exercices/dictation">Dictée</md-button></td>
                <td><md-button class="md-raised md-primary" href="#!/teacher/exercices/texte_a_trous">Texte à trous</md-button></td>
            </tr>
        </table>
    </center>
</div>
