<div ng-controller="TeacherSelectExercicesController">
    <!--<section class="row">
        <ul class="nav nav-pills  nav-justified">
            <li> <a href="#!/home">Accueil </a></li>
            <li> <a href="#">Classes </a></li>
            <li> <a href="#">Messages </a></li>
            <li> <a href="#!/teacher/login">Deconnexion </a></li>
        </ul>
    </section>-->
    <div class="lock-size" layout="row" layout-align="left">
        <md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
                           ng-class="demo.selectedMode">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-warn">
                    <md-icon md-svg-src="../Images/material-design-icons/svg/menu.svg"></md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button aria-label="home" class="md-fab md-raised md-mini" href="#!/home">
                    <md-icon style="color:black" md-svg-src="../Images/material-design-icons/svg/home.svg"></md-icon>
                    <md-tooltip>
                        Accueil du site
                    </md-tooltip>
                </md-button>
                <md-button aria-label="logout" class="md-fab md-raised md-mini" href="#!/teacher/login">
                    <md-icon style=" color:black" md-svg-src="../Images/material-design-icons/svg/logout.svg">
                    </md-icon>
                    <md-tooltip>
                        Déconnexion
                    </md-tooltip>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>
    <center>
        <h1>{{Message}}</h1>
        <table>
            <tr>
                <!--<td><md-button class="md-raised md-primary" href="#!/teacher/exercices/matter">Glissé-Déposé</md-button></td>-->
                <td><md-button class="md-raised md-primary" href="#!/teacher/exercices/battleCard">Battle Card</md-button></td>
                <td><md-button class="md-raised md-primary" href="#!/teacher/exercices/dictation">Dictée</md-button></td>
                <td><md-button class="md-raised md-primary" href="#!/teacher/exercices/cloze_exercise">Texte à trous</md-button></td>
            </tr>
        </table>
</center>
</div>
