<div ng-controller="TeacherDictationController">

    <script>
        function disableMicrophone() {
            location.reload();
        }
    </script>

    <center>
        <div ng-show="!EasySelected && !MediumSelected && !HardSelected">
            <h1>{{Message}}</h1>
            <table>
                <tr>
                    <td>
                        <form novalidate name="EasyForm" ng-submit="Easy()">
                            <md-button class="md-raised md-primary" type="submit" name="easy">Facile</md-button>
                        </form>
                    </td>
                    <td>
                        <form novalidate name="MediumForm" ng-submit="Medium()">
                            <md-button class="md-raised md-primary" type="submit" name="medium">Moyen</md-button>
                        </form>
                    </td>
                    <td>
                        <form novalidate name="HardForm" ng-submit="Hard()">
                            <md-button class="md-raised md-primary" type="submit" name="hard">Difficile</md-button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-show="EasySelected">
            <h1>{{Message}}</h1>
            
        </div>
        <div ng-show="MediumSelected">
            <h1>{{Message}}</h1>
            
        </div>
        <div ng-show="HardSelected">
            <h1>{{Message}}</h1>
            <form name="DictText" ng-submit="SaveText()">
                <div ng-repeat="child in Children">
                    <md-checkbox ng-checked="exists(child, selected)" ng-click="toggle(child, selected)">
                        {{ "Élève : " + child.FirstName + " " + child.LastName + " (Pseudo : " + child.Nickname + ")"}}
                    </md-checkbox>
                </div>

                <md-button class="md-raised md-primary" ng-click="startRecording(this);" id="StartButton" disabled>Enregistrer</md-button>
                <md-button class="md-raised md-primary" ng-click="stopRecording(this);" id="StopButton" disabled>Arrêter</md-button>
                <md-button class="md-raised md-primary" ng-click="enableMicrophone()" id="EnableMicrophone">Activer le micro</md-button>
                <md-button class="md-raised md-primary" onclick="disableMicrophone()" id="DisableMicrophone" disabled>Désactiver le micro</md-button>
                <audio id="myAudio"></audio>
                <h2>Recordings</h2>
                <ul id="recordingslist"></ul>

                <h2>Log</h2>
                <pre id="log"></pre>

                <textarea ng-model="ExerciseDictationData.Text" name="text" placeholder="Texte de la dictée..." rows="5" cols="40"></textarea><br />
                <md-button class="md-raised md-primary" type="submit" name="SaveEasyText">{{Button}}</md-button>
                <h2>{{ExerciseDictationData.Text}} + {{ExerciseDictationData.Level.Name}}</h2>
            </form>
        </div>
    </center>
</div>