@{
    ViewBag.Title = "It'School";
}

<section class="row">
    <img src="../Images/LOGO_360.png" class="img-responsive" />
</section>

<div>
    <ng-view></ng-view>
</div>
@section Scripts{
    <script src="~/Scripts/Routing.js"></script>
    <script src="~/Scripts/material-call-app.js"></script>
    <script src="~/Scripts/interact-1.2.4.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/DragNDrop.js"></script>
}
