@{
    ViewBag.Title = "It'School";
}

<section class="row" id="sectionLogo">
    <div class="col-xs-offset-4 col-xs-4 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4" id="imageLogo">
    <img src="../Images/LOGO_360.png" class="img-responsive" alt="logo" />
    </div>
</section>


<div class="row" id="IndexNgView">
    <ng-view></ng-view>
</div>

@section Scripts{
    <script src="~/Scripts/Routing.js"></script>
    <script src="~/Scripts/01. AngularControllers/ErrorController.js"></script>
    <script src="~/Scripts/01. AngularControllers/HomeController.js"></script>
    <script src="~/Scripts/01. AngularControllers/KidDescriptionBattleCardController.js"></script>
    <script src="~/Scripts/01. AngularControllers/KidHomeController.js"></script>
    <script src="~/Scripts/01. AngularControllers/KidLobbyController.js"></script>
    <script src="~/Scripts/01. AngularControllers/KidLoginController.js"></script>
    <script src="~/Scripts/01. AngularControllers/KidPlayBattleCardController.js"></script>
    <script src="~/Scripts/01. AngularControllers/KidPlayDictationController.js"></script>
    <script src="~/Scripts/01. AngularControllers/KidRegistrationController.js"></script>
    <script src="~/Scripts/01. AngularControllers/KidSelectExercicesController.js"></script>
    <script src="~/Scripts/01. AngularControllers/TeacherClozeExerciseController.js"></script>
    <script src="~/Scripts/01. AngularControllers/TeacherCustomizeBattleCardController.js"></script>
    <script src="~/Scripts/01. AngularControllers/TeacherDescriptionBattleCardController.js"></script>
    <script src="~/Scripts/01. AngularControllers/TeacherDictationController.js"></script>
    <script src="~/Scripts/01. AngularControllers/TeacherDragAndDropController.js"></script>
    <script src="~/Scripts/01. AngularControllers/TeacherDragAndDropMathsController.js"></script>
    <script src="~/Scripts/01. AngularControllers/TeacherHomeController.js"></script>
    <script src="~/Scripts/01. AngularControllers/TeacherLobbyController.js"></script>
    <script src="~/Scripts/01. AngularControllers/TeacherLoginController.js"></script>
    <script src="~/Scripts/01. AngularControllers/TeacherRegistrationController.js"></script>
    <script src="~/Scripts/01. AngularControllers/TeacherSelectExercicesController.js"></script>
    <script src="~/Scripts/01. AngularControllers/TeacherSelectMatterController.js"></script>
    <script src="~/Scripts/02. Factories/Factories.js"></script>
    <script src="~/Scripts/03. Services/Services.js"></script>
}