@{
    ViewBag.Title = "Index";
}
<div>
    <ul>
        <li><a href="#!/homeLogin">Home</a></li>
    </ul>
</div>

<section class="row">
    <img src="../Images/LOGO_360.png" class="img-responsive" />
</section>

<div>
    <ng-view></ng-view>
</div>
@section Scripts{
    <script src="~/Scripts/Routing.js"></script>
    <script src="~/Scripts/material-call-app.js"></script>
}
