body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.redColors {

}

.blueColors {
    margin-right: 400px;
    margin-left: 40px;
    margin-top: -125px;
}

.yellowColors {
    margin-right: 400px;
    margin-left: 80px;
    margin-top: -125px;
}

.fuschiaColors {
    margin-right: 400px;
    margin-left: 120px;
    margin-top: -120px;
}

.pinkColors {
    margin-right: 400px;
    margin-left: 160px;
    margin-top: -125px;
}

.orangeColors {
    margin-right: 400px;
    margin-left: 160px;
    margin-top: -125px;
}

.cyanColors {
    margin-right: 400px;
    margin-left: 160px;
    margin-top: -125px;
}

.greyColors {
    margin-right: 400px;
    margin-left: 160px;
    margin-top: -125px;
}