html{
    background-color: #F2D893;
}

body {
    background-color: #F2D893;
    background-image: url("../Images/Background.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: 55% 17%;
    height: 150%;
    animation: animationBackground linear 1.5s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: animationBackground linear 1.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationBackground linear 1.5s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationBackground linear 1.5s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationBackground linear 1.5s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
}

@keyframes animationBackground{
  0% {
    opacity:0;
 	   transform:  scaleX(0.30) scaleY(0.30) ;
  }
  25% {
    opacity:0;
	transform:  scaleX(1.10) scaleY(1.10) ;

  }
  55% {
    opacity:0;
	    transform:  scaleX(0.95) scaleY(0.95) ;

  }
  100% {
    opacity:1;
    transform:  scaleX(1.00) scaleY(1.00) ;
	 

  }
}
    

#title{
    margin-left: 10%;
}

img{
	margin-left: 35%;

}
.menu, ol {
	border: 2px solid black;
	background: none repeat scroll 0% 0% black;
}
ul{
	float : right;
}
.nav-justified {
    width: 30%;
    margin-right: 20%;
}
.nav-pills > li{
	margin: 0px;
}
.nav-pills > li > a {
    border-radius: 0px;
	background: transparent;
}
.nav > li > a:hover {
  background-color: #028;
  color: white;
  border-radius: 5px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: #028;
	color: white;
	border-radius: 5px;
}
a { 
  color: #028; 
  border-radius: 0px;
}
.bs-example{
	margin: 20px;
}
#myTab{
margin: 0% 30% 3% 5%;
font-size: 250%;
}
p {
	margin: 0% 20%;
	padding: 1% 0% 5% 3%;
}

/*Button exercice choice*/
#selectExercices{
    background-color: #028;
    color: white;
}

#selectExercices:hover{
    background-color: white;
    color: #028;
}

#selectExercices:active{
    background-color: #028;
    color: white;
}
/*end button exercice choice*/
.blueColors {
    margin-top: 150px;
    margin-bottom: 150px;
    margin-right: 150px;
    margin-left: 200px;
}


md-input-container:not(.md-input-has-value) input:not(:focus) {
    color: #000;
    opacity: 0.87;
}

md-input-container.md-default-theme.md-input-invalid .md-input {
    border-color: #3F51B5;
}

#buttonStudent #buttonTeacher{
  animation: animationFrames ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: animationFrames ease 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animationFrames ease 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animationFrames ease 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animationFrames{
  0% {
    opacity:0;
    transform:  translate(-1500px,0px)  ;
  }
  60% {
    opacity:1;
    transform:  translate(30px,0px)  ;
  }
  80% {
    transform:  translate(-10px,0px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    opacity:0;
    -moz-transform:  translate(-1500px,0px)  ;
  }
  60% {
    opacity:1;
    -moz-transform:  translate(30px,0px)  ;
  }
  80% {
    -moz-transform:  translate(-10px,0px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity:0;
    -webkit-transform:  translate(-1500px,0px)  ;
  }
  60% {
    opacity:1;
    -webkit-transform:  translate(30px,0px)  ;
  }
  80% {
    -webkit-transform:  translate(-10px,0px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes animationFrames {
  0% {
    opacity:0;
    -o-transform:  translate(-1500px,0px)  ;
  }
  60% {
    opacity:1;
    -o-transform:  translate(30px,0px)  ;
  }
  80% {
    -o-transform:  translate(-10px,0px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    opacity:0;
    -ms-transform:  translate(-1500px,0px)  ;
  }
  60% {
    opacity:1;
    -ms-transform:  translate(30px,0px)  ;
  }
  80% {
    -ms-transform:  translate(-10px,0px)  ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
}

/*Drag and drop begin*/
body {
  font-family: "Georgia", serif;
  line-height: 1.8em;
  color: #333;
}
 
/* Give headings their own font */
 
h1, h2, h3, h4 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 75%;
}
 
/* Main content area */
 
#content {
  margin: 80px 70px;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
 
/* Header/footer boxes */
 
.wideBox {
  clear: both;
  text-align: center;
  margin: 70px;
  padding: 10px;
  background: #ebedf2;
  border: 1px solid #333;
}
 
.wideBox h1 {
  font-weight: bold;
  margin: 20px;
  color: #666;
  font-size: 1.5em;
}
 
/* Slots for final card positions */
 
#cardSlots {
  margin: 50px auto 0 auto;
  background: #ddf;
}
 
/* The initial pile of unsorted cards */
 
#cardPile {
  margin: 0 auto;
  background: #ffd;
}
 
#cardSlots, #cardPile {
  width: auto;
  height: 50%;
  padding: 30px 10px 0px 40px;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}
 
/* Individual cards and slots */
 
#cardSlots div, #cardPile div {
  float: left;
  width: 60px;
  height: 80px;
  padding: 38px 55px 0px;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0 45px 15px 0px;
  background: #fff;
}
 
#cardSlots div:first-child, #cardPile div:first-child {
  margin-left: 0;
}
 
#cardSlots div.hovered {
  background: #aaa;
}
 
#cardSlots div {
  border-style: dashed;
}
 
#cardPile div {
  background: #666;
  color: #fff;
  font-size: 50px;
  text-shadow: 0 0 3px #000;
}
 
#cardPile div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}
 
/* Individually coloured cards */
 
#card.correct { background: green; }

 
 
/* "You did it!" message */
#successMessage{
  position: absolute;
  left: 580px;
  top: 250px;
  width: 0;
  height: 0;
  z-index: 100;
  background: #dfd;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  padding: 20px;
}
/*Drag and drop end*/


/*Micro*/
#Micro {
    width: 75%;
    margin-left: 10%;
}

#log{
    width: 75%;
}

/*Battle Card begin*/
#header{
    margin-left: 13%;
}

#global {
    padding-bottom : 5%;
    position: relative; /* on positionne le conteneur */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height : 100%;
}

#gameDescription {
	margin-top: 3%;
	text-align : center;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	border : 1px solid black;
	box-shadow: 0px 0px 65px #CDBE9F inset, 0px 0px 20px #BEAE8C inset, 0px 0px 5px #816F47;
	font-family: Georgia,Times,serif;
	line-height: 1.50em;
	
} 

#alphabet, #chiffre{
    margin-top : 1.5%;          
    border : 1px solid black;
	box-shadow: 0px 0px 65px #CDBE9F inset, 0px 0px 20px #BEAE8C inset, 0px 0px 5px #816F47;
	font-family: Georgia,Times,serif;
	line-height: 1.50em;
}
#alphabet{
    margin-right: 8%;
}

#leftArrow, #rightArrow{
    position : absolute;
    /*border : 1px solid black;*/
    top : 45%;
    background-color : #FF4081;
}
#leftArrow{           
    right: 90%;
}
#rightArrow{
    left: 90%;
}

#choice{
    margin-top : 1.5%;          
    border : 1px solid black;
	box-shadow: 0px 0px 65px #CDBE9F inset, 0px 0px 20px #BEAE8C inset, 0px 0px 5px #816F47;
	font-family: Georgia,Times,serif;
	line-height: 1.50em;
}

#choiceTitle{
    text-decoration: underline;
    font-weight : bold;
}

#alphabet{
    font-weight : bold;
}

#leftArrow{
    position : absolute;
    top : 45%;
    background-color : #FF4081;
    right: 90%;
}

#play{
    background: #028;
    color: white;
    margin-top: 2%;
    margin-left: 43%;
}

#play:hover{
    background: #FFF;
    color: #028;
}

#play:active{
    background: #028;
    color: white;
}
/*Battle Card end*/