html{
    background-color: #F2D893;
}

body{
    background-color: #F2D893;
 	background-image:  url("../Images/Background.png");
    background-repeat:no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: 55% 17%;
    height: 150%;
}

#title{
    margin-left: 10%;
}

img{
	margin-left: 35%;

}
.menu, ol {
	border: 2px solid black;
	background: none repeat scroll 0% 0% black;
}
ul{
	float : right;
}
.nav-justified {
    width: 30%;
    margin-right: 20%;
}
.nav-pills > li{
	margin: 0px;
}
.nav-pills > li > a {
    border-radius: 0px;
	background: transparent;
}
.nav > li > a:hover {
  background-color: #028;
  color: white;
  border-radius: 5px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: #028;
	color: white;
	border-radius: 5px;
}
a { 
  color: #028; 
  border-radius: 0px;
}
.bs-example{
	margin: 20px;
}
#myTab{
margin: 0% 30% 3% 5%;
font-size: 250%;
}
p {
	margin: 0% 20%;
	padding: 1% 0% 5% 3%;
}


.blueColors {
    margin-top: 150px;
    margin-bottom: 150px;
    margin-right: 150px;
    margin-left: 200px;
}


md-input-container:not(.md-input-has-value) input:not(:focus) {
    color: #000;
    opacity: 0.87;
}

md-input-container.md-default-theme.md-input-invalid .md-input {
    border-color: #3F51B5;
}

/*Drag and drop begin*/
body {
  font-family: "Georgia", serif;
  line-height: 1.8em;
  color: #333;
}
 
/* Give headings their own font */
 
h1, h2, h3, h4 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 75%;
}
 
/* Main content area */
 
#content {
  margin: 80px 70px;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
 
/* Header/footer boxes */
 
.wideBox {
  clear: both;
  text-align: center;
  margin: 70px;
  padding: 10px;
  background: #ebedf2;
  border: 1px solid #333;
}
 
.wideBox h1 {
  font-weight: bold;
  margin: 20px;
  color: #666;
  font-size: 1.5em;
}
 
/* Slots for final card positions */
 
#cardSlots {
  margin: 50px auto 0 auto;
  background: #ddf;
}
 
/* The initial pile of unsorted cards */
 
#cardPile {
  margin: 0 auto;
  background: #ffd;
}
 
#cardSlots, #cardPile {
  width: auto;
  height: 50%;
  padding: 30px 10px 0px 40px;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}
 
/* Individual cards and slots */
 
#cardSlots div, #cardPile div {
  float: left;
  width: 60px;
  height: 80px;
  padding: 38px 55px 0px;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0 45px 15px 0px;
  background: #fff;
}
 
#cardSlots div:first-child, #cardPile div:first-child {
  margin-left: 0;
}
 
#cardSlots div.hovered {
  background: #aaa;
}
 
#cardSlots div {
  border-style: dashed;
}
 
#cardPile div {
  background: #666;
  color: #fff;
  font-size: 50px;
  text-shadow: 0 0 3px #000;
}
 
#cardPile div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}
 
/* Individually coloured cards */
 
#card.correct { background: green; }

 
 
/* "You did it!" message */
#successMessage{
  position: absolute;
  left: 580px;
  top: 250px;
  width: 0;
  height: 0;
  z-index: 100;
  background: #dfd;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  padding: 20px;
}


/*Drag and drop end*/