
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Draggable.css" />
    <title>Drag</title>
</head>
    <body>
        <div id="impair" class="resize-drag drag-drop"> 1 </div>
        <div id="pair" class="resize-drag drag-drop"> 2 </div>
        <div id="impair" class="resize-drag drag-drop"> 3 </div>
        <div id="pair" class="resize-drag drag-drop"> 4 </div>
        <div id="impair" class="resize-drag drag-drop"> 5 </div>
        <div id="pair" class="resize-drag drag-drop"> 6 </div>
        <div id="impair" class="resize-drag drag-drop"> 7 </div>
        <div id="pair" class="resize-drag drag-drop"> 8 </div>
        <div id="impair" class="resize-drag drag-drop"> 9 </div>



        <div id="zone-pair" class="dropzonePair">Zone Paire</div>
        <div id="zone-impair" class="dropzoneImpair">Zone impaire</div>

        <script type="text/javascript" src="~/Scripts/jquery-2.1.4.js"></script>
        <script src="~/Scripts/PairOuImpair.js">Pair_ou_impair();</script>
        <script src="~/Scripts/interact-1.2.4.min.js"></script>
        <script src="~/Scripts/draggable.js"></script>
        <script src="~/Scripts/DropImpair.js"></script>
        <script src="~/Scripts/DropPair.js"></script>
    </body> 
</html>
