<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>@ViewBag.Title</title>
    <link href="~/Components/angular-material/angular-material.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/ng-grid.css" rel="stylesheet" type="text/css" />


    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-2.1.3.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="../Components/angular-animate/angular-animate.js"></script>
    <script src="../Components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="../Components/angular-material/angular-material.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.5/ngStorage.min.js"></script>
    <script src="~/Scripts/ng-grid.js"></script>

    <!-- BattleCardGame -->
    <link href="~/Content/BattleCardCss/battleCardGame.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/BattleCardCss/flipclock.css" rel="stylesheet" type="text/css" media="screen" />
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <!-- Font-Awesome -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- My style -->
    <link href="~/Content/style.css" rel="stylesheet" media="screen" type="text/css">

    
</head>
<body ng-app="TheApp">
    
    <div class="container body-content">
        <div id="background">
            @RenderBody()
            
        </div>

        <footer>
            <p>&copy; @DateTime.Now.Year - It'School Application</p>
        </footer>
    </div>
        <script src="~/Scripts/jquery-ui.js"></script>
        <script src="~/Scripts/jquery.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="../Components/angular-animate/angular-animate.js"></script>
        <script src="../Components/angular-aria/angular-aria.js"></script>
        <script type="text/javascript" src="../Components/angular-material/angular-material.js"></script>
        <script src="~/Scripts/jquery-2.1.3.js"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>