
@{
    ViewBag.Title = "ClozeExercise";
}

<h2>ClozeExercise</h2>
<script src="~/Scripts/cloze-game.js"></script>
<form name="exercise">
    <p>La somme des 3 angles d'un triangle equilatéral est égale à <input type="text" id="word" maxlength="3"/></p>
</form>




