
@{
    ViewBag.Title = "ClozeExercise";
}

<h2>Texte à trous</h2>
<script src="~/Scripts/cloze-game.js"></script>

Hello! My name <input type="text" maxlength="2" id="sentence1" /> Brian.<br/>
Where <input type="text" maxlength="3" id="sentence2" /> you? <br />
The sky is <input type="text" maxlength="4" id="sentence3" />.<br />